<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Page</title>
    <link rel="stylesheet" href="/static/css/teacher_style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img src="/static/images/logo.png" class="logo-btn">
                <a href="/" class="home-btn">Home</a>
                <h1>Admin View Page</h1>
            </div>
        </nav>
    </header>

    <div class="container dashboard">
        <div class="content-box">
            <h2> "Hello Admin."</h2>
            <h3>"Get access to different features after login"</h3>
            <div class="buttons">
                <a href="/adminlogin" class="login-btn">Login</a>
                {% comment %} <a href="/admin-signup" class="signup-btn">Add new Admin</a>  {% endcomment %}
            </div>
        </div>
    </div>
    

    <footer>
        <div class="container">
            <img src="/static/images/inspiring.png" class="img-fluid top-left">
            <p>"Education is not preparation for life; education is life itself."</p>
        </div>
    </footer>
    
</body>
</html>
