<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img src="/static/images/logo.png" class="logo-btn">
                <a href="/" class="home-btn">Home</a>
                <h1>Student View Page</h1>
            </div>
        </nav>
    </header>

    <div class="container dashboard">
        <div class="content-box">
            <h2> "Hello Student."</h2>
            <h3>"Embark on a journey of knowledge and discovery. Your future begins here."</h3>
            <div class="buttons">
                <a href="/studentlogin" class="login-btn">Login</a>
                <a href="/student-signup" class="signup-btn">Take Admission</a>
            </div>
        </div>
    </div>
    

    <footer>
        <div class="container">
            <img src="/static/images/inspiring.png" class="img-fluid top-left">
            <p>"Every day is a new opportunity to learn, grow, and become the best version of yourself. Embrace the journey of education and never stop striving for excellence."</p>
        </div>
    </footer>
    
</body>
</html>
