{% extends 'teachersidebar.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>
<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">View Gradesheet</h6>

      </div>

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="roll">Enter Student Roll Number:</label>
          <input type="text" class="form-control" id="roll" name="roll" placeholder="Enter roll number">
        </div>
        <div class="form-group">
          <label for="cl">Enter Class:</label>
          <input type="text" class="form-control" id="cl" name="cl" placeholder="Enter class">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
